<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/site.css" />
    <HeadOutlet />
    <title>pr-inbox</title>
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/connection-badge.js"></script>
    <script src="js/last-visited.js"></script>
</body>
</html>
